*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    width: 100%;
    height: 100%; 
}
#main{
    width: 100%;
    height: 100vh;
   
}
#back{
    width: 100%;
    height: 100vh;
   
}
#back>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
}
#top-div1{
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 100vh;
    max-width: 1920px;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}
#n-left, #n-right{
    display: flex;
    align-items: center;
    gap: 60px;
}
#n-left>img{
    height: 60px;
}
#n-left>a,#n-right>a{
    pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#hero{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
}
#hero-left{
   
    min-width: 50%;
}
.text1{
    position: relative;
    height: 9vw;
   overflow: hidden; 
}
.text1> h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
       font-family: "kajiro"; 
       color: white;
       font-weight: 100;
       font-size: 11vw;
       text-transform: uppercase;
}
.text1  h1:nth-child(1){
    top: 0;
}
#hero-left>button{
    pointer-events: all;
    padding: .8vw 3vw;
    font-family: "kajiro"; 
    font-size: 3vw;
    margin-top: 2vw;
}
#hero-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   width: 17%;
   color: white;
 
}

#hero-right>p{
    font-size: 14px;
    text-align: right;
    font-weight: 300;
}
.imgdiv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: aquamarine;
    background-image: url("./images/preson.jpg");
    background-size: cover;
    background-position: center;

}
#hero-right p:nth-child(3){
   margin-bottom: 100px;
}